{
  "extends": "@antfu",
  "rules": {
    // 关闭 console 验证
    "no-console": "off",
    // 使用单引号
    "quotes": ["error", "single"],
    // 末尾不使用分号
    "semi": ["error", "never" ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "indent": "off",
    "curly": "off",
    "node/no-callback-literal": 0,
    "@typescript-eslint/indent": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/require-v-for-key": "off",
    "vue/no-unused-vars": "off"
  }
}
