.apy-detail {
  min-width: 260px;
  background-color: #EDF0F5;
  transform: translateX(-1px);
  .item-row {
    @apply mt-1.5;
    &:first-child {
      @apply mt-0;
    }
  }
  .label {
    @apply text-xs text-global-highTitle text-opacity-45;
  }
  .dot {
    @apply relative pl-5.5;
    &:before {
      @apply absolute left-2.5 top-1/2;
      @apply w-1.5 h-1.5 inline-block;
      @apply bg-global-highTitle bg-opacity-45;
      content: "";
      border-radius: 50%;
      vertical-align: middle;
      transform: translate(-50%, -50%);
    }
  }
}
