/**
 * @file 校验样式
 */

.check-box {
  position: relative;
  .el-input {
    :deep(input) {
      padding-right: 70px;
      border-radius: 36px;
      line-height: 26px;
      height: 26px;
    }
  }
  .suffix {
    display: flex;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translate(0, -50%);
  }
  :deep(.el-form-item) {
    margin-bottom: 0;
  }
}
