.wrap-discover {
  background-color: #FAFBFC;
  @apply pb-15 px-4;
}
.content {
  @apply max-w-320 mx-auto;
}
.table-tr {
  @screen md {
    @apply flex items-center justify-between;
  }
  .td-title {
    @screen md {
      @apply w-124 pr-20;
    }
    .el-avatar {
      @apply bg-white;
    }
  }
  .td-data {
    @apply mt-5;
    @screen md {
      @apply w-71 mt-0;
    }
  }
  .td-price {
    @apply mt-5;
    @screen md {
      @apply w-55 mt-0;
    }
  }
  .td-date {
    @apply mt-5;
    @screen md {
      @apply mt-0 w-50 pr-10 text-right;
    }
  }
  .td-operation {
    @apply flex-1 text-right;
  }

  .date-box {
    @apply text-global-numRed;
    i {
      font-style: normal;
      line-height: 18px;
      border-radius: 2px;
      @apply text-white text-center text-xs;
      @apply w-4.5 h-4 bg-global-numRed inline-block;
    }
  }
  .media-item {
    @apply mt-2.5;
    &:first-child {
      @apply mt-0;
    }
  }
}
.comment {
  color: #009C56;
  @apply py-1.5 pl-3 pr-1.5 rounded-md;
  @apply bg-global-numGreen bg-opacity-4;
}

.tabs-operate {
  @apply flex w-full;
  @apply flex-col-reverse; /* 从下往上 */
  @screen md {
    @apply items-center justify-between flex-row;
  }
}
