.wrap-discover {
  background-color: #FAFBFC;
  @apply pb-15 px-4;
}
.content {
  @apply max-w-320 mx-auto;
}
.table-tr {
  @screen md {
    @apply flex items-center justify-between;
  }
  .td-title {
    @screen md {
      @apply w-124 pr-20;
    }
    .el-avatar {
      @apply w-16.5 h-16.5;
      @screen md {
        @apply w-22 h-22;
      }
      ::v-deep(img) {
        @apply mx-auto;
      }
    }
    @at-root .wrap-dapp &{
      @screen md {
        @apply flex-1;
      }
    }
  }
  .td-data {
    @apply mt-5 hidden;
    @screen md {
      @apply w-71 mt-0 block;
    }
  }
  .td-price {
    @apply mt-5 hidden;
    @screen md {
      @apply w-55 mt-0 block;
    }
  }
  .td-date {
    @apply mt-5 hidden pr-10 text-right;
    @screen md {
      @apply mt-0 w-52 block;
    }
  }
  .td-operation {
    @apply flex-1 text-right;
    @at-root .wrap-dapp &{
      @apply w-15 flex-none;
    }
  }

  .media-item {
    @apply mt-2.5;
    &:first-child {
      @apply mt-0;
    }
  }
}
.comment {
  color: #009C56;
  @apply py-1.5 pl-3 pr-1.5 rounded-md;
  @apply bg-global-numGreen bg-opacity-4;
}

.tabs-operate {
  @apply flex w-full;
  @apply flex-col-reverse; /* 从下往上 */
  @screen md {
    @apply items-center justify-between flex-row;
  }
}

.split {
  width: 1px;
  @apply h-3;
  @apply hidden;
  @apply bg-global-highTitle bg-opacity-10;
  @screen md {
    @apply inline-block;
  }
}
