.icon-arrow-down {
  transform: rotate(180deg);
}
.icon-arrow-up,
.icon-arrow-down {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
}

.task-radio {
  display: none;
  & ~ .task-content .icon-arrow-down {
    display: inline-block;
  }
  & ~ .task-children,
  & ~ .task-content .icon-arrow-up {
    display: none;
  }
  &:checked {
    & ~ .task-children,
    & ~ .task-content .icon-arrow-up {
      display: inline-block;
    }
    & ~ .task-content .icon-arrow-down {
      display: none;
    }
  }
}

.task-children {
  counter-reset: number;
}

.task-item {
  padding-left: 36px;
  position: relative;
  border-radius: 6px;
  background: linear-gradient(
                  90deg,
                  rgba(43, 141, 254, 0.08) 0%,
                  rgba(43, 141, 254, 0) 100%
  );
  &:before {
    counter-increment: number;
    content: counter(number);
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #2b8dfe;
    font-size: 20px;
  }
  &.no-count {
    padding-left: 12px;
    &:before {
      content: none;
    }
  }
}
